<header class=header_links>
<%= link_to "Pet Index", "/pets" %>
<%= link_to "Shelter Index", "/shelters" %>
</header>

<h1>Update <a href="/shelters/<%= @shelter.id %>"><%= @shelter.name%></a></h2>

<%= form_tag "/shelters/#{@shelter.id}", method: :patch do %>
  <%= label_tag :name %>
  <%= text_field_tag :name, @shelter.name %><br>
  <%= label_tag :address %>
  <%= text_field_tag :address, @shelter.address %><br>
  <%= label_tag :city %>
  <%= text_field_tag :city, @shelter.city %><br>
  <%= label_tag :state %>
  <%= text_field_tag :state, @shelter.state %><br>
  <%= label_tag :zip %>
  <%= text_field_tag :zip, @shelter.zip %><br>
  <%= submit_tag "Update Shelter" %>
<% end %>
