<a href="/shelters">Shelter Index</a>

<h1><%= @shelter.name %></h1>
<ul>
  <li>Address: <%= @shelter.address %></li>
  <li>City: <%= @shelter.city %></li>
  <li>State: <%= @shelter.state %></li>
  <li>Zipcode: <%= @shelter.zip %></li>
</ul>

<%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %>
