<h1>All Pets</h1>

<% @pets.each do |pet| %>
  <img src= <%= pet.image %>>
  <h3><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h3>
  <%= link_to "Update #{pet.name}", "/pets/#{pet.id}/edit" %>
  <%= link_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete %>
  <p>Approximate Age: <%= pet.approximate_age %></p>
  <p>Sex: <%= pet.sex %></p>
<% end %>
