<header class=header_links>
<%= link_to "Pet Index", "/pets" %>
<%= link_to "Shelter Index", "/shelters" %>
</header>

<h1>All Pets</h1>

<% @pets.each do |pet| %>
  <section class=pet_info>
  <img class=pet_image src= <%= pet.image %>>
  <h3><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h3>
  <p>Approximate Age: <%= pet.approximate_age %></p>
  <p>Sex: <%= pet.sex %></p>
  <p class=update_button><%= link_to "Update #{pet.name}", "/pets/#{pet.id}/edit" %></p>
  <p class=delete_button><%= link_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete %></p>
  </section>
<% end %>
