<a href="/shelters">Shelter Index</a>

<h1>Adoptable Pets for <%= @shelter.name %></h1>

<% @pets.each do |pet| %>
  <img src= <%= pet.image %>>
  <h3><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h3>
  <p>Approximate Age: <%= pet.approximate_age %></p>
  <p>Sex: <%= pet.sex %></p>
<% end %>

<%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %>
<%= link_to "Back to Shelter", "/shelters/#{@shelter.id}" %>
